In [2]:
import datatable as dt
df =  dt.Frame("""Fruit   Date       Name  Number
                  Apples  10/6/2016  Bob     7
                  Apples  10/6/2016  Bob     8
                  Apples  10/6/2016  Mike    9
                  Apples  10/7/2016  Steve  10
                  Apples  10/7/2016  Bob     1
                  Oranges 10/7/2016  Bob     2
                  Oranges 10/6/2016  Tom    15
                  Oranges 10/6/2016  Mike   57
                  Oranges 10/6/2016  Bob    65
                  Oranges 10/7/2016  Tony    1
                  Grapes  10/7/2016  Bob     1
                  Grapes  10/7/2016  Tom    87
                  Grapes  10/7/2016  Bob    22
                  Grapes  10/7/2016  Bob    12
                  Grapes  10/7/2016  Tony   15""")

In [4]:
df[:, dt.sum(dt.f.Number), dt.by('Fruit')]

,Fruit,C0
,▪▪▪▪,▪▪▪▪▪▪▪▪
0,Apples,35
1,Grapes,137
2,Oranges,140

In [7]:
df[:, {"min": dt.min(dt.f.Number),"max": dt.max(dt.f.Number)}, dt.by('Fruit','Date')]

,Fruit,Date,min,max
,▪▪▪▪,▪▪▪▪,▪▪▪▪,▪▪▪▪
0,Apples,10/6/2016,7,9
1,Apples,10/7/2016,1,10
2,Grapes,10/7/2016,1,87
3,Oranges,10/6/2016,15,65
4,Oranges,10/7/2016,1,2

In [10]:
df = dt.Frame("""A   B
                 1  10
                 1  20
                 2  30
                 2  40
                 3  10""")

In [12]:
df

,A,B
,▪▪▪▪,▪▪▪▪
0,1,10
1,1,20
2,2,30
3,2,40
4,3,10

In [15]:
df[-1, :, dt.by('B')]

NotImplementedError: onerow_in::execute_grouped() not implemented yet

In [13]:
import numpy as np
df = dt.Frame({'value' : [1, np.nan, np.nan, 2, 3, 1, 3, np.nan, 3],
               'name' : ['A','A', 'B','B','B','B', 'C','C','C']})

In [16]:
df.to_pandas().groupby(df.to_pandas()['name']).mean()

      value
name
A       1.0
B       2.0
C       3.0

In [15]:
df.to_pandas().select_dtypes('number').columns

Index(['value'], dtype='object')

In [17]:
df.to_pandas().groupby(df.to_pandas()['name']).first()

      value name
name
A       1.0    A
B       2.0    B
C       3.0    C

In [18]:
df.to_pandas().groupby(df.to_pandas()['name']).describe()

     value
     count mean  std  min  25%  50%  75%  max
name
A      1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0
B      3.0  2.0  1.0  1.0  1.5  2.0  2.5  3.0
C      2.0  3.0  0.0  3.0  3.0  3.0  3.0  3.0

In [19]:
def iqr_func(x):
    q3, q1 = np.percentile(x, [75, 25])
    iqr = q3 - q1
    return iqr

df.to_pandas().groupby(df.to_pandas()['name']).agg(iqr_func)

      value
name
A       NaN
B       NaN
C       NaN

In [23]:
np.nanmean

In [26]:
df.to_pandas().dtypes

value    float64
name      object
dtype: object

In [28]:
np.nanmean(df.to_pandas().value)

2.1666666666666665

In [29]:
def iqr_func(x):
    q3, q1 = np.percentile(x, [75, 25])
    iqr = q3 - q1
    return iqr

df.to_pandas().groupby(df.to_pandas()['name']).agg(iqr_func)

      value
name
A       NaN
B       NaN
C       NaN

In [34]:
df.to_pandas().groupby(df.to_pandas()['name']).agg({'value': [ np.nansum, np.nanmean]})#.reset_index()

      value
     nansum nanmean
name
A       1.0     1.0
B       6.0     2.0
C       6.0     3.0